@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-image: url('/assets/background.png');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

/* Prevent clicking inside this element from deselecting text */
.prevent-deselect {
    /* No styles needed, class name is used for logic in ArtifactPresentation.tsx */
}
