@import "tailwindcss";
@import "tailwindcss/utilities";


body {
    background-image: url('/assets/background.png');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

/* Prevent clicking inside this element from deselecting text */
.prevent-deselect {
    user-select: none
}
