@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-image: url('/assets/background.png');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
